//src\styles\scss\utils.scss
@use "sass:math";

$designWidth: 1280; // 修改为实际设计稿宽度
$designHeight: 1024; // 修改为实际设计稿高度


// px 转为 vw 的函数
@function vw($px) {
  @return math.div($px, $designWidth) * 100vw;
}

// px 转为 vh 的函数
@function vh($px) {
  @return math.div($px, $designHeight) * 100vh;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; // 禁止滚动条
  width: 100vw;
  height: 100vh;
}

.butto1123n {
  font-size: vh(18);
  width: vw(120);
  height: vh(30);
}